body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

div{
  display:inline-block;
}

#control-panel{
  flex-basis: calc(15% - 30px);
  height: calc(100% - 40px);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.control-panel-component {
  width: 100%;
  /* flex-basis: 33%; */
  height: 10%;
  text-align: center;
  margin: auto;
}

.control-panel-icon {
  font-size: 6vh;
}

#details-panel {
  background-color: #ededed;
  align-items: left;
  text-align: left;
  margin-top: 16px;
  padding: 4px;
  border-radius: 4px;
}

#details-list {
  list-style-type: none;
}

.wp-motes-tracker {
  margin-top: 6px
}

.positive-track{
  display:grid;
  grid-template-columns: 12vw 2vw 12vw;
  grid-auto-rows: 1fr;
}

.ui-blocker {
  background-color: rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-number-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: 1fr; */
  box-sizing: border-box;
  width: 70vw;
  height: 80vh;
  margin: 10vh 10vw 10vh 20vw;
  background-color: whitesmoke;
  border-radius: 4px;
}

.modal-number-select-number {
  cursor: pointer;
  box-shadow: rgb(240, 240, 240) 1px 2px;
  display: grid;
  align-content: center;
}

.modal-number-select-number:hover {
  background-color: rgba(209,185,72, .2);
}

.test{
  border: 1px solid pink;
  width: 100%;
  height: 100%;
}

#crashed-track {
  flex-basis: calc(30% - 44px);
  height: calc(100% - 40px);
}

.tracker-table {
  margin: 0px auto;
  max-height: 100%;
}

.tracker-table-row {
  min-height: unset;
  max-height: 1.6vh;
  font-size: 1.6vh;
}

.piece {
  border: 1px solid black;
  padding: .1vw .3vw;
  /* width: 25px; */
  border-radius: 50%;
  font-size: 2vh;
  margin: 0px 2px;
  cursor: grab;
}

.wpmCounter {
  width: 40px;
}

.wpm-counter-input {
  display: inline-flex;
  width: 60px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin: 2px 4px 2px 0;
  justify-content: center;
  cursor: pointer;
}

/* mediumm screen */
@media only screen and (max-width: 1200px) {
  #control-panel{
    flex-basis: calc(20% - 30px);
    height: calc(100% - 40px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #positive-track{
    flex-basis: calc(40% - 44px);
    height: calc(100% - 40px);
  }

  #crashed-track {
    flex-basis: calc(40% - 44px);
    height: calc(100% - 40px);
  }
}


/* Small screen */
.nextToAct {
  border: 3px solid red;
}

@media only screen and (max-width: 600px) {
  #control-panel{
    flex-basis: 100%;
    height: 20vh;
    flex-direction: row;
  }

  #positive-track{
    flex-basis: 50%;
    height: 80vh;
  }

  #crashed-track {
    flex-basis: 50%;
    height: 80vh;
  }

  .control-panel-component{
    width: 50%
  }
}
